// KTP League DOD Config
// Day Of Defeat Community Discord: http://discord.gg/dodcommunity
// KTP League Discord: https://discord.gg/s84Phz3TgJ
// nineteeneleven.org
//
// Execute this config using the following command:
// rcon exec ktp_railyard_b6.cfg
//
// This config was last updated on 01-06-2023

exec configs/ktpbasic.cfg

mp_clan_scoring_values_allies 01012
mp_clan_scoring_values_axis 10102
# KTP-DISABLED: mp_clan_readyrestart 1

say KTP dod_railyard_b6 Match Config Executed
say Version 01-06-2023
say RECORD DEMOS, TURN ON MOSS, START CAPTURE WITH MOSS!!!! MOSS!!!!
say RECORD DEMOS, TURN ON MOSS, START CAPTURE WITH MOSS!!!! MOSS!!!!