// KTP Server Project
// Last Modified: 12/22/2025
// Modified By: Nein_
//
exec configs/ktpbasic.cfg

mp_clan_scoring_values_allies 22200
mp_clan_scoring_values_axis 00222
//clan scoring values determine the time based point value for teams holding flags. 
//The string is in the reverse order compared to the flags that are displayed on the HUD
# KTP-DISABLED: mp_clan_readyrestart 1
mp_clan_scoring_delay 30			



say KTP dod_thunder2 Match Config Executed
