// KTP Server Project
// Last Modified: 12/22/2025
// Modified By: Nein_
//
exec configs/ktpbasic.cfg

// mp_clan_scoring_values_allies 21120 1= 2=middle 3=allied first 4=axis first 5= 
// mp_clan_scoring_values_axis 21021 1=middle 2=double cap 3=allied first 4=axis first 5= double cap
mp_clan_scoring_values_allies 12012
mp_clan_scoring_values_axis 12102
# KTP-DISABLED: mp_clan_readyrestart 1
mp_clan_scoring_bonus_allies 60   
mp_clan_scoring_bonus_axis 60    


say KTP dod_siena_test Match Config Executed

