// KTP Server Project
// Last Modified: 12/22/2025
// Modified By: Nein_
//
exec configs/ktpbasic.cfg

mp_clan_scoring_values_allies 10012
mp_clan_scoring_values_axis 01102
# KTP-DISABLED: mp_clan_readyrestart 1

say KTP dod_harrington Match Config Executed
