// KTP Server Project
// Last Modified: 12/22/2025
// Modified By: Nein_
//
exec configs/ktpbasic.cfg

mp_clan_scoring_values_allies 11210
mp_clan_scoring_values_axis 11012
# KTP-DISABLED: mp_clan_readyrestart 1

say KTP dod_muhle_b2 Match Config Executed
say Take Screenshots, Record Demos, Check Your Rates!
say Take Screenshots, Record Demos, Check Your Rates!