// KTP League DOD Config
// Day Of Defeat Community Discord: http://discord.gg/dodcommunity
// KTP League Discord: https://discord.gg/s84Phz3TgJ
// nineteeneleven.org
//
// Execute this config using the following command:
// rcon exec ktp_railyard.cfg
//
// This config was last updated on 02-20-2026

exec configs/ktpbasic.cfg

// Allies 1st (apartments side) 1st on HUD: 5 in mp_clan_scoring_values
// Allies 2nd (railcar side)    2nd on HUD: 1 in mp_clan_scoring_values
// Middle (well)                3rd on HUD: 4 in mp_clan_scoring_values
// Axis 2nd (long side)         4th on HUD: 2 in mp_clan_scoring_values
// Axis 1st (4-way side)        5th on HUD: 3 in mp_clan_scoring_values

mp_clan_scoring_values_allies 01120
mp_clan_scoring_values_axis 10021
# KTP-DISABLED: mp_clan_readyrestart 1

say KTP dod_railyard Match Config Executed
say Version 02-20-2026
say RECORD DEMOS, TURN ON MOSS, START CAPTURE WITH MOSS!!!! MOSS!!!!
say RECORD DEMOS, TURN ON MOSS, START CAPTURE WITH MOSS!!!! MOSS!!!!