// KTP Server Project
// Last Modified: 12/22/2025
// Modified By: Nein_
//
exec configs/ktpbasic.cfg

// mp_clan_scoring_values_allies 21120  
// mp_clan_scoring_values_axis 21021
mp_clan_scoring_values_allies 21120
mp_clan_scoring_values_axis 21021
# KTP-DISABLED: mp_clan_readyrestart 1
mp_clan_scoring_bonus_allies 60   
mp_clan_scoring_bonus_axis 60    


say KTP dod_anzio Match Config Executed

