// KTP Server Project
// Last Modified: 12/22/2025
// Modified By: Nein_
//
exec configs/ktpbasic.cfg

mp_clan_scoring_values_allies 12200
mp_clan_scoring_values_axis 10022
mp_clan_scoring_delay 15
# KTP-DISABLED: mp_clan_readyrestart 1

say KTP dod_cal_sherman2 Match Config Executed
say Take Screenshots, Record Demos, Check Your Rates!
say Take Screenshots, Record Demos, Check Your Rates!