// KTP Server Project
// Last Modified: 12/22/2025
// Modified By: Nein_
//
exec configs/ktpbasic.cfg

//flag layout: axis1, axis2, middle, allies1, allies2

mp_clan_scoring_values_allies 22100
mp_clan_scoring_values_axis 00122

# KTP-DISABLED: mp_clan_readyrestart 1

say KTP dod_emmanuel_b1 Match Config Executed
say Take Screenshots, Record Demos, Check Your Rates!
say Take Screenshots, Record Demos, Check Your Rates!